<!DOCTYPE html>
<html>
<head>
  <title>Create a New Student</title>
</head>
<body>
  <form action="/students" method="DELETE">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Remove Student</button>
  </form>
</body>
</html>
