/** Octopus style sheet for release 3.3 **/
.octopus {
	display:block;
	margin:600px;
	margin-top:100px;
}

.glasses {
	position: absolute;
	top: 200px;
	left: 650px;
}

.hat {
	position: absolute;
	top: 40px;
	left: 590px;
}